@font-face {
    font-family: "sfproregular";
    src: url(fonts/SFPRODISPLAYREGULAR.OTF);
}
@font-face {
    font-family: "sfproblackitalic";
    src: url(fonts/SFPRODISPLAYBLACKITALIC.OTF);
}
@font-face {
    font-family: "sfprobold";
    src: url(fonts/SFPRODISPLAYBOLD.OTF);
}
@font-face {
    font-family: "sfpromedium";
    src: url(fonts/SFPRODISPLAYMEDIUM.OTF);
}

@font-face {
    font-family: "techmono";
    src: url(fonts/ShareTechMono-Regular.ttf);
}

@font-face {
    font-family: "mozart";
    src: url(fonts/mozart.ttf);
}

/* 
///
///
/// 
///
 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sfproregular';
    
 }
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    
}

body{
    
    background-image: url('../assets/images/bg.jpg');
    background-size: cover;
    font-family: "sfproregular";
}

.main{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window{
    width: 65vw;
    height: 80vh;
    margin: 0;
    padding: 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    border-radius: 12px;
    
}

.sidebar{
    height: 80vh;
    backdrop-filter: blur(10px); 
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;

    background-color: rgba(255,255,255,0.75);
    border: 1px solid rgba(255,255,255,0.75);
}

.row{
    margin: 0;
    padding: 0;
}

.page{
    background-color: white;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

    
}

.page-header{
    background-color: #f9fafc;
    height: 8vh;
    border-bottom: 1px solid #e3e4e5;
    font-family: 'sfproregular';
    border-top-right-radius: 12px;
    display: flex;
    align-items: center;

}

.page-body{
    background-color: #fff;
    height: 67.2vh;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: start !important;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.app-page{
    height: fit-content;
    overflow: hidden;
    overflow-y: auto;
    max-height: 62.7vh;
    width: 100%;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.page-footer{
    background-color: #f9fafc;
    height: 4.8vh;
    border-top: 1px solid #e3e4e5;
    border-bottom-right-radius: 12px;
    padding-left: 0.5rem;

    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: #828282;


}

.col-9{
    margin: 0;
    padding: 0;
}

.sidebar-header{
    align-items: center;
    height: 10%;
    display: flex;
    font-family: 'sfproregular';
    padding-left: 0.75rem;

}

.sidebar-topics{
    height: 90%;
    font-family: 'sfproregular';
}

.topic-item{
    height: 2rem;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
    font-family: 'sfproregular';
    color: #363636;
    margin-bottom: 0.1rem;
    cursor: pointer;
}

.topic-title{
    height: 2rem;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
    font-family: 'sfprobold';
    color: #868c8c;
    margin-bottom: 0.1rem;
}

.topic-item-icon{
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.65rem;
    filter: invert(30%) sepia(97%) saturate(2384%) hue-rotate(197deg) brightness(97%) contrast(81%);
}


.circle-red, .circle-green, .circle-yellow{
    width: 0.85rem;
    height: 0.85rem;
    border-radius: 50%;
    margin-right: 10px;
}

.page-arrow{
    width: 2.5rem;
    height: 2.5rem;

}
.arrow-row{
    flex-direction: row;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    width: 80%;

}
.inverted{
    transform: rotate(180deg);
}

.circle-red{
    background-color: #fc605b;
    border: 1px solid #c97677;
}

.circle-green{
    background-color: #25c94c;
    border: 1px solid #54b26c;
}

.circle-green, .circle-red, .circle-yellow{
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-nav{
    background-color: red;
}

.circle-yellow{
    background-color: #f9bd3d;
    border: 1px solid #e3bd71;
}

.active{
    background-color: #a3a3a32b;
    border-radius: 8px;
}

.folder{
    width: 5rem;
}

.path-icon{
    height: 1rem;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
}

#page-header-title{
    font-family: "sfprobold";
    color: #5d5e60;
}

.app{
    width: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: "sfproregular";
    margin: 1rem;
    cursor: pointer;
}

.app-icon{
    max-height: 4.4rem;
    margin-bottom: 0.3rem;
}

.app-title{
    margin-top: 0.3rem;
    font-size: 0.9rem;
    text-align: center;
}

a{
    text-decoration: none;
    color: #121212;
}

a:hover{
    text-decoration: none;
    color: #121212;
}

.about-row{
    width: 100%;
    height: 100%;
}

.about-preview{
    border-left: 1px solid #e3e4e5;
    padding: 1rem;
    max-height: 100%;
    overflow: auto;
}


.emoji{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.about-preview h4{
    font-family: "sfprobold";
}

.app-selected{
    background-color: #cfcfcf8d;
    border-radius: 8px;
    padding: 0.2rem;
}

.app-title-selected{
    background-color: #0e5cc8;
    color: #e0e7f1;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 10px;

}

.header-hover{
    width: 80%;
    opacity: 0;
}

.header-hover:hover{
    opacity: 0.6;
}



::-webkit-scrollbar {
    width: 12px; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #88888890; 
    border-radius: 10px; 
    }
  
  ::-webkit-scrollbar-button {
    display: none;
  }







/*
///
///
///
///
 */